<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/cf3bad5a-8e7c-4a3b-83bb-346e548957e0/resourceGroups/SmartBinAPI_group-8310/providers/Microsoft.Web/sites/SmartBinApi</ResourceId>
    <ResourceGroup>SmartBinAPI_group-8310</ResourceGroup>
    <ApiResourceId>/subscriptions/cf3bad5a-8e7c-4a3b-83bb-346e548957e0/resourceGroups/SmartBinAPI_group-8310/providers/Microsoft.ApiManagement/service/SmartBinApiapi/apis/SmartBinApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://smartbinapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ce8d6a9f-5fbc-4aff-96c9-acff2351bec1</ProjectGuid>
    <MSDeployServiceURL>smartbinapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SmartBinApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SmartBinApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>